@import "tailwindcss";
@theme {
    --color-main:oklch(93.21% 0.197 104.65);
    --color-background:oklch(98.42% 0.003 247.86);
    --color-text-color:oklch(20.77% 0.040 265.75);
    --color-subtitles:oklch(55.44% 0.041 257.42);
    --color-border:oklch(92.88% 0.013 255.51)
}
html{
    scroll-behavior: smooth;
}